<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="../../assets/images/LogoSCDE.png" alt="Descripción de la imagen" style="max-width: 50%; height: auto;">
      <svg class="bi me-2" width="40" height="28" role="img" aria-label="Bootstrap"></svg>
      <img src="../../assets/images/LogoCA.png" alt="Descripción de la imagen" style="max-width: 50%; height: auto;">
      <svg class="bi me-2" width="40" height="28" role="img" aria-label="Bootstrap"></svg>
      <img src="../../assets/images/LogoSecciones.png" alt="Descripción de la imagen" style="max-width: 50%; height: auto;">
      <svg class="bi me-2" width="40" height="28" role="img" aria-label="Bootstrap"></svg>
    </a>    

    <ul class="nav col-12 col-md-auto mb-2 ms-auto mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Manual de usuario</a></li>
      <li><a routerLink="form" class="nav-link px-2 link-dark">Formulario</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Cerrar sesión</button>
      </ng-container>
      <ng-template #loggedOut>
        <button type="button" class="btn btn-outline-primary me-2" (click)="loginWithRedirect()">Iniciar sesión</button>
      </ng-template>
      <button type="button" class="btn btn-primary">Registrarse</button>
    </div>
    
  </header>
</div>
